# موارد سنگین و غیرضروری که نباید وارد build context شوند
venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.git/
.gitignore
datasets/
test_images/
test_images/*
logs/
notebooks/
docs/
scripts/*.sh
*.rar
*.zip
*.jpg
*.jpeg
*.png
*.log
*.md
ser.txt
install_all.sh
backend/test/
backend/test.py
backend/Dockerfile
backend/docker-compose.yml
backend/README.md
